<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>channel管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="../../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../../static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/layer/2.4/layer.js"></script>

</head>

<body data-type="widgets">
<script src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="../../static/assets/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <!--<form class="tpl-header-search-form" action="javascript:;">-->
                <!--<button class="tpl-header-search-btn am-icon-search"></button>-->
                <!--<input class="tpl-header-search-box" type="text" placeholder="搜索内容...">-->
                <!--</form>-->
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>

                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->

    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 小程序面板</span></li>
            <li class="sidebar-nav-link">
                <a href="{:url('WxApp/brandSettings')}" class="active">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> brand设置
                </a>
            </li>
        </ul>
    </div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">brand列表</div>


                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">

                                </div>
                            </div>
                            <form action="{:url('WxApp/search')}" enctype="multipart/form-data" name="search_form" method="post">
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">

                                    </div>
                                </div>
                            </form>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                                    <thead>
                                    <tr>
                                        <th><input type="hidden"></th>
                                        <th>品牌</th>
                                        <th>预览图</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <form method="post" enctype="multipart/form-data" action="{:url('WxApp/brand_sort_order')}">
                                        {volist name="list" id="value"}
                                        <tr class="gradeX">
                                            <td><input type="hidden" value="{$value.id}" name="id[]"></td>
                                            <td>{$value.name}</td>
                                            <td><img src="{$value.pic_url}" style="max-height: 120px"> </td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <input type="text" style="color: #0d0d0d" value="{$value.sort_order}" name="sort[]">
                                                </div>
                                            </td>
                                        </tr>
                                        {/volist}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td align="right">
                                                <input type="submit" name="doSubmit" class="am-btn am-btn-primary tpl-btn-bg-color-success "
                                                       value="提交">
                                            </td>
                                        </tr>
                                    </form>
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li>
                                            {$list->render()}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../../static/assets/js/dataTables.responsive.min.js"></script>



</body>
<script type="text/javascript">

</script>
</html>
