<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台( ゜- ゜)つロ</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="../../static/assets/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="../../static/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <script src="../../static/assets/js/jquery.min.js"></script>

</head>

<body data-type="index">
<script src="../../static/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <header>
        <!-- logo -->
        <div class="am-fl tpl-header-logo">
            <a href="javascript:;"><img src="../../static/assets/img/logo.png" alt=""></a>
        </div>
        <!-- 右侧内容 -->
        <div class="tpl-header-fluid">
            <!-- 侧边切换 -->
            <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
            </div>
            <!-- 搜索 -->
            <div class="am-fl tpl-header-search">
                <!--<form class="tpl-header-search-form" action="javascript:;">-->
                    <!--<button class="tpl-header-search-btn am-icon-search"></button>-->
                    <!--<input class="tpl-header-search-box" type="text" placeholder="搜索内容...">-->
                <!--</form>-->
            </div>
            <!-- 其它功能-->
            <div class="am-fr tpl-header-navbar">
                <ul>
                    <!-- 欢迎语 -->
                    <li class="am-text-sm tpl-header-navbar-welcome">
                        <a href="javascript:;">欢迎你, <span>{$username}</span> </a>
                    </li>

                    <!-- 新邮件 -->
<!--                    <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-envelope"></i>
                            <span class="am-badge am-badge-success am-round item-feed-badge">4</span>
                        </a>
                        &lt;!&ndash; 弹出列表 &ndash;&gt;
                        <ul class="am-dropdown-content tpl-dropdown-content">
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="../../static/assets/img/user04.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        3小时前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-success"></i>
                                            <span>夕风色</span>
                                        </div>
                                        <div class="am-text-truncate"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </div>
                                        <div class="menu-messages-content-time">2016-09-21 下午 16:40</div>
                                    </div>
                                </a>
                            </li>

                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <div class="menu-messages-ico">
                                        <img src="../../static/assets/img/user02.png" alt="">
                                    </div>
                                    <div class="menu-messages-time">
                                        5天前
                                    </div>
                                    <div class="menu-messages-content">
                                        <div class="menu-messages-content-title">
                                            <i class="am-icon-circle-o am-text-warning"></i>
                                            <span>佳能纸业</span>
                                        </div>
                                        <div class="am-text-truncate"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </div>
                                        <div class="menu-messages-content-time">2016-09-16 上午 09:23</div>
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-messages">
                                <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                    <i class="am-icon-circle-o"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>-->

                    <!-- 新提示 -->
                    <li class="am-dropdown" data-am-dropdown>
                        <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                            <i class="am-icon-bell"></i>
                            <span id="remind" class="am-badge am-badge-warning am-round item-feed-badge"></span>
                        </a>
                        <audio id="mp3"src="../../static/assets/img/552857.mp3"></audio>
                        <!-- 弹出列表 -->
                        <ul class="am-dropdown-content tpl-dropdown-content">
<!--                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-line-chart"></i>
                                        <span> 有6笔新的销售订单</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        12分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-star"></i>
                                        <span> 有3个来自人事部的消息</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        30分钟前
                                    </div>
                                </a>
                            </li>
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <div class="tpl-dropdown-menu-notifications-title">
                                        <i class="am-icon-folder-o"></i>
                                        <span> 上午开会记录存档</span>
                                    </div>
                                    <div class="tpl-dropdown-menu-notifications-time">
                                        1天前
                                    </div>
                                </a>
                            </li>-->
                            <li class="tpl-dropdown-menu-notifications">
                                <a href="{:url('index/consume')}" class="tpl-dropdown-menu-notifications-item am-cf">
                                    <i class="am-icon-bell"></i> 进入列表…
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- 退出 -->
                    <li class="am-text-sm">
                        <a href="/index.php/admin/index/logout">
                            <span class="am-icon-sign-out"></span> 退出
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
    <!-- 风格切换 -->
    <div class="tpl-skiner">
        <div class="tpl-skiner-toggle am-icon-cog">
        </div>
        <div class="tpl-skiner-content">
            <div class="tpl-skiner-content-title">
                选择主题
            </div>
            <div class="tpl-skiner-content-bar">
                <span class="skiner-color skiner-white" data-color="theme-white"></span>
                <span class="skiner-color skiner-black" data-color="theme-black"></span>
            </div>
        </div>
    </div>
    <!-- 侧边导航栏 -->
    <div class="left-sidebar">
        <!-- 用户信息 -->
        <div class="tpl-sidebar-user-panel">
            <div class="tpl-user-panel-slide-toggleable">
                <div class="tpl-user-panel-profile-picture">
                    <img src="../../static/assets/img/user04.png" alt="">
                </div>
                <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              佳能纸业
          </span>
                <!--<a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>-->
            </div>
        </div>

        <!-- 菜单 -->
        <ul class="sidebar-nav">
            <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 控制面板</span></li>
            <li class="sidebar-nav-link">
                <a href="{:url('index/index')}" class="active">
                    <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{:url('index/category')}">
                    <i class="am-icon-table sidebar-nav-link-logo"></i> 分类
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{:url('index/promotion')}">
                    <i class="am-icon-chain sidebar-nav-link-logo"></i> 促销
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{:url('index/product')}">
                    <i class="am-icon-calendar sidebar-nav-link-logo"></i> 产品
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{:url('index/consume')}">
                    <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 账单
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{:url('index/bill')}">
                    <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图表
                </a>
            </li>
            <li class="sidebar-nav-link">
                <a href="{:url('index/membership')}">
                    <i class="am-icon-clone sidebar-nav-link-logo"></i> 会员
                </a>
            </li>
        </ul>
    </div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="container-fluid am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                    <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 首页 <small>佳能纸业</small></div>
                    <p class="page-header-description">欢迎来到佳能纸业后台管理</p>
                </div>
                <!--<div class="am-u-lg-3 tpl-index-settings-button">-->
                    <!--<button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>-->
                <!--</div>-->
            </div>

        </div>

        <div class="row-content am-cf">
            <div class="row  am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">月度财务收支计划</div>
                            <div class="widget-function am-fr">
                                <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                            </div>
                        </div>
                        <div class="widget-body am-fr">
                            <div class="am-fl">
                                <div class="widget-fluctuation-period-text">
                                    ￥{$monthlyTarget}
                                    <button class="widget-fluctuation-tpl-btn" id="doc-prompt-toggle">
                                        <i class="am-icon-calendar"></i>
                                        设置目标
                                    </button>
                                </div>
                            </div>
                            <div class="am-fr am-cf">
                                {if condition="$sum >= 0"}
                                    <div class="widget-fluctuation-description-amount text-success" am-cf>
                                        +￥{$sum}
                                    </div>
                                {else /}
                                    <div class="widget-fluctuation-description-amount am-text-danger" am-cf>
                                        ￥{$sum}
                                    </div>
                                {/if}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-primary am-cf">
                        <div class="widget-statistic-header">
                            本月度销售额
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                ￥{$income}
                            </div>
                            <span class="widget-statistic-icon am-icon-credit-card-alt"></span>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
                    <div class="widget widget-purple am-cf">
                        <div class="widget-statistic-header">
                            本季度销售额
                        </div>
                        <div class="widget-statistic-body">
                            <div class="widget-statistic-value">
                                ￥{$seasonIncome}
                            </div>
                            <span class="widget-statistic-icon am-icon-support"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-8">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">近五天销售额</div>
                            <div class="widget-function am-fr">
                                <!--<a href="javascript:;" class="am-icon-cog"></a>-->
                            </div>
                        </div>
                        <div class="widget-body-md widget-body tpl-amendment-echarts am-fr" id="tpl-echarts">

                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-4">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">小程序设置</div>
<!--                            <div class="widget-function am-fr">
                                &lt;!&ndash;<a href="javascript:;" class="am-icon-cog"></a>&ndash;&gt;
                            </div>-->
                        </div>
                        <div class="widget-body widget-body-md am-fr">

                            <div class="am-progress-title">banner设置
                                <span class="am-fr am-progress-title-more">
                                    <a onclick="wxSettings('banner设置','{:url(\'WxApp/bannerSettings\')}')">
                                        <i class="am-icon-industry sidebar-nav-link-logo"></i>
                                    </a>
                                </span>
                            </div>

                            <div class="am-progress-title">channel设置
                                <span class="am-fr am-progress-title-more">
                                    <a onclick="wxSettings('channel设置','{:url(\'WxApp/channelSettings\')}')">
                                        <i class="am-icon-coffee sidebar-nav-link-logo"></i>
                                    </a>
                                </span>
                            </div>

                            <div class="am-progress-title">brand设置
                                <span class="am-fr am-progress-title-more">
                                    <a onclick="wxSettings('channel设置','{:url(\'WxApp/brandSettings\')}')">
                                        <i class="am-icon-beer sidebar-nav-link-logo"></i>
                                    </a>
                                </span>
                            </div>

                            <div class="am-progress-title">Domain_Name <span class="am-fr am-progress-title-more">{$serverInfo.Domain_Name}</span></div>

                            <div class="am-progress-title">Disk_free_Space <span class="am-fr am-progress-title-more">{$serverInfo.Disk_free_Space}</span></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row am-cf">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-4 widget-margin-bottom-lg ">
                    <div class="tpl-user-card am-text-center widget-body-lg">
                        <div class="tpl-user-card-title">
                            佳能纸业
                        </div>
                        <div class="achievement-subheading">
                            销售最好的产品
                        </div>
                        <img class="achievement-image" style="width: 150px;height: 130px" src="{$detail.img}" alt="">
                        <div class="achievement-description">
                            {$detail.name}共销售了
                            <strong>{$detail.num}</strong>次
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-12 am-u-lg-8 widget-margin-bottom-lg">

                    <div class="widget am-cf widget-body-lg">

                        <div class="widget-body  am-fr">
                            <div class="am-scrollable-horizontal ">
                                <table width="100%" class="am-table am-table-compact am-text-nowrap tpl-table-black " id="example-r">
                                    <thead>
                                    <tr>
                                        <th>商品</th>
                                        <th>姓名</th>
                                        <th>电话</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="list" id="value"}
                                        <tr class="gradeX">
                                            <td>{$value.goods}{</td>
                                            <td>{$value.name}</td>
                                            <td>{$value.phone}</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="consume_info?id={$value.id}">
                                                        <i class="am-icon-pencil"></i>详情
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {/volist}
                                    <!-- more data -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
    <div class="am-modal-dialog" style="background-color: #e9ecf3">
        <div class="am-modal-hd" style="color: #0d0d0d">金额设置</div>
        <div class="am-modal-bd" style="color: #0d0d0d">
            设置你每月目标
            <input type="text" class="am-modal-prompt-input">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel style="color: #0d0d0d">取消</span>
            <span class="am-modal-btn" data-am-modal-confirm style="color: #0d0d0d">提交</span>
        </div>
    </div>
</div>
</div>
<script src="../../static/layer/2.4/layer.js"></script>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/amazeui.datatables.min.js"></script>
<script src="../../static/assets/js/dataTables.responsive.min.js"></script>
<!--<script src="../../static/assets/js/Bill.js?version=2015"></script>-->
<script src="../../static/assets/js/notify.js?version=2018"></script>
<script src="../../static/assets/js/app.js"></script>
<script type="text/javascript">
    $(function() {
        $('#doc-prompt-toggle').on('click', function() {
            $('#my-prompt').modal({
                relatedTarget: this,
                onConfirm: function(e) {
                    $.ajax({
                        type:"post",
                        url: '/admin/index/monthlyTarget?amount='+e.data,
                        success: function (data) {
                            setTimeout("location.href = window.location.href;",1000);
                            alert('设置成功!')
                        },
                        error: function (data) {
                            alert('设置失败!')
                        }
                    });
                },
            });
        });
    });
    function wxSettings(title,url) {
        layer.open({
            type: 2, //类型，解析url
            closeBtn: 1, //关闭按钮是否显示 1显示0不显示
            title: title, //页面标题
            shadeClose: true, //点击遮罩区域是否关闭页面
            shade: 0.8,  //遮罩透明度
            area: ['100%', '100%'],  //弹出层页面比例
            content: url  //弹出层的url
        });
    }
</script>
</body>

</html>
